---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { filter, map, take, head } from "lodash-es";
import { sortByDate } from "../utils/posts";
import Categories from "../components/layout/Categories.astro";

const allPosts = await getCollection("blog");
const featuredPosts = filter(allPosts, (post: any) => post.data?.featured);
const sorted = sortByDate(featuredPosts);
---

<Layout>
  <Categories />
  <div class="header">
    <div class="feature-image">
      <img src="/images/featured/elisa.png" alt="Image of the month" />
      <div>Image of the month</div>
    </div>
    <div class="blog-description">
      "Kobilica: A Blog of Timeless Satire" humorously intertwines history and modernity, crafting
      short, witty tales that playfully skewer the absurdities of both the past and the present.
    </div>
  </div>

  <div class="hero">
    <div class="content">
      <ul class="posts">
        {
          map(take(sorted, 5), (post) => (
            <li class="post">
              <a class="post-link" href={`/post/${post.slug}/`}>
                <div
                  class="hero-image"
                  style={`background-image: url(${post.data.heroImage});`}
                  title={post.data.title}
                />
                <h4 class="title">{post.data.title}</h4>
              </a>
              <div class="description">{post.data.description}</div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>

<style>
  .header {
    display: grid;
    grid-template-columns: minmax(300px, 600px);
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid currentColor;
    padding: 8px;
    gap: 16px;
    font-size: 14px;
  }
  .feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    gap: 4px;
    img {
      max-height: 300px;
      object-fit: cover;
      object-position: center;
    }
  }
  .posts {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    margin: 0;
    padding: 0;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
  }

  .hero-image {
    margin-bottom: 10px;
    border-radius: 12px;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
  }
</style>
