---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { filter, map, take } from "lodash-es";
import { sortByDate } from "../utils/posts";
import Categories from "../components/layout/Categories.astro";

const allPosts = await getCollection("blog");
const featuredPosts = filter(allPosts, (post: any) => post.data?.featured);
const sorted = sortByDate(featuredPosts);

const posts = take(sorted, 6);
---

<Layout>
  <Categories />
  <div class="blog-description">
    "Kobilica: A Blog of Timeless Satire" humorously intertwines history and modernity, crafting
    short, witty tales that playfully skewer the absurdities of both the past and the present.
  </div>
  <div class="hero">
    <div class="content">
      <ul class="posts">
        {
          map(posts, (post) => (
            <li class="post">
              <a class="post-link" href={`/post/${post.slug}/`}>
                <div
                  class="hero-image"
                  style={`background-image: url(${post.data.heroImage});`}
                  title={post.data.title}
                />
                <h4 class="title">{post.data.title}</h4>
              </a>
              <div class="description">{post.data.description}</div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>

<style>
  .posts {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8px;
    margin: 0;
    padding: 0;
  }
  .blog-description {
    padding: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    border-bottom: 1px solid currentColor;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
  }

  .hero-image {
    margin-bottom: 10px;
    border-radius: 12px;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
  }
</style>
