---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/post/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate, heroImage, readingTime } = Astro.props;
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.addEventListener("keydown", (e) => {
      if (e.ctrlKey && e.key === "r") {
        document.dispatchEvent(new CustomEvent("toggle-reading-mode"));
      }
    });
    const readingModeButton = document.querySelector("#reading-mode");
    const shareFacebookBtn = document.querySelector("#facebook-share-btn");
    const shareLinkedinBtn = document.querySelector("#linkedin-share-btn");

    readingModeButton?.addEventListener("click", () => {
      document.dispatchEvent(new CustomEvent("toggle-reading-mode"));
    });

    shareFacebookBtn?.addEventListener("click", () => {
      const url = window.location.href;
      window.open(
        "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(url),
        "_blank"
      );
    });

    shareLinkedinBtn?.addEventListener("click", () => {
      const url = window.location.href;
      window.open(
        "https://www.linkedin.com/sharing/share-offsite/?url=" + encodeURIComponent(url),
        "_blank"
      );
    });
  });
</script>

<article class="post">
  <header class="hero">
    <h1 class="title">{title}</h1>
    {
      heroImage && (
        <div class="hero-image">
          <img src={heroImage} alt="" />
          <button
            title="Enable reading mode (Ctrl + r)"
            type="button"
            class="reading-mode"
            id="reading-mode"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="bullet"
            >
              <circle cx="12" cy="12" r="10" />
              <circle cx="12" cy="12" r="3" />
            </svg>
          </button>
        </div>
      )
    }
    <div class="info">
      <div class="date">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <span class="updated">
              - Last updated on <FormattedDate date={updatedDate} />
            </span>
          )
        }
        <div class="reading-time">{readingTime} min read</div>
      </div>
      <div class="share-btns">
        <!-- Facebook Share Button -->
        <button id="facebook-share-btn" title="Share on Facebook" role="button" class="share-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="share-btn-facebook"
          >
            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
          </svg>
        </button>

        <!-- LinkedIn Share Button -->
        <button id="linkedin-share-btn" title="Share on LinkedIn" role="button" class="share-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            width="24"
            height="24"
            fill="currentColor"
            stroke="currentColor"
            stroke-width="1.609"
            viewBox="-4.6 -4.6 55.16 55.16"
            class="share-btn-linkedin"
            ><path
              d="M5.392.492C2.268.492 0 2.647 0 5.614c0 2.966 2.223 5.119 5.284 5.119 1.588 0 2.956-.515 3.957-1.489.96-.935 1.489-2.224 1.488-3.653C10.659 2.589 8.464.492 5.392.492zm2.455 7.319c-.62.603-1.507.922-2.563.922C3.351 8.733 2 7.451 2 5.614c0-1.867 1.363-3.122 3.392-3.122 1.983 0 3.293 1.235 3.338 3.123-.001.862-.314 1.641-.883 2.196zM.959 45.467h8.988V12.422H.959v33.045zm2-31.045h4.988v29.044H2.959V14.422zM33.648 12.422c-4.168 0-6.72 1.439-8.198 2.792l-.281-2.792H15v33.044h9.959V28.099c0-.748.303-2.301.493-2.711 1.203-2.591 2.826-2.591 5.284-2.591 2.831 0 5.223 2.655 5.223 5.797v16.874h10v-18.67c0-9.878-6.382-14.376-12.311-14.376zm10.311 31.045h-6V28.593c0-4.227-3.308-7.797-7.223-7.797-2.512 0-5.358 0-7.099 3.75-.359.775-.679 2.632-.679 3.553v15.368H17V14.422h6.36l.408 4.044h1.639l.293-.473c.667-1.074 2.776-3.572 7.948-3.572 4.966 0 10.311 3.872 10.311 12.374v16.672z"
            ></path></svg
          >
        </button>
      </div>
    </div>
  </header>
  <slot />
</article>

<style>
  .hero {
    width: 100%;

    img {
      display: block;
      width: 100%;
      border-radius: 12px;
      box-shadow: var(--box-shadow);
    }

    .hero-image {
      position: relative;

      img {
        max-height: 512px;
        object-fit: cover;
        object-position: center;
      }
    }

    .share-btns {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
    }

    .share-btn {
      cursor: pointer;
      background: none;
      border: none;
      height: 34px;
      width: 34px;
    }

    .share-btn-facebook {
      stroke: var(--primary);
    }

    .share-btn-linkedin {
      stroke: var(--primary);
      fill: var(--primary);
    }

    .reading-mode {
      border-radius: 12px 0 12px 0;
      padding: 8px;
      cursor: pointer;
      background: var(--focus);
      border: 1px solid var(--primary);
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 0.8;
      .bullet {
        width: 24px;
        height: 24px;
        fill: none;
        stroke: var(--primary);
      }
    }
  }

  .title {
    margin: 12px 0;
    text-align: center;
    font-size: 28px;

    @media (min-width: 769px) {
      font-size: 32px;
    }
  }

  .info {
    font-size: 12px;
    margin-bottom: 0;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
  }

  .date {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .updated {
    font-style: italic;
  }
</style>
